google-generativeai
langchain
langchain-google-genai
langchain-text-splitters
pandas
opencv-python
Pillow
openai-whisper
pydub
ffmpeg-python
python-dotenv
pdfplumber
# pypdf2  # Removed, replaced by pdfplumber
tabula-py
jpype1
numpy
requests
tqdm
fastapi
uvicorn
python-multipart
chromadb